---
## reference: https://github.com/geerlingguy/ansible-role-apache/blob/master/.travis.yml

services: docker

env:
  - distro: centos6
  - distro: centos7
  - distro: ubuntu1404
  - distro: ubuntu1604

script:
  # Configure test script so we can run extra tests after playbook is run.
  - export container_id=$(date +%s)
  - export cleanup=false

  - chmod +x ${PWD}/tests/test.sh

  # Run tests.
  - ${PWD}/tests/test.sh

  # my test code


# notifications:
  # webhooks: https://galaxy.ansible.com/api/v1/notifications/
